/target/debug/.fingerprint/ahash-74dd2f5addb96e51
/target
/target
/target/debug
target/debug/rv.d
target/debug/rv.d
target/debug/rv
my-project/config.toml
my-project/activate
/target
.rv-install-state.json
my-project/
